.footer {
    padding-top: 20px;
    .row {
            p {
                padding: 8px 16px;
                color: #768497;
                font-size: 16px;
                font-family: PT Sans;
                font-weight: 400;
                line-height: 23.10px;
                word-wrap: break-word;
            }
    }
}