
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="Logo img-responsive" width="120" src="/assets/logo.png" />
    </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenuItems" aria-controls="navMenuItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navMenuItems">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Program Components
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Makoyar Fasaha</a></li>
                <li><a class="dropdown-item" href="#">Dalibar Fasaha</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Matan Fasaha</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQs</a>
            </li>
            <app-apply-button></app-apply-button>
          </ul>
         
        </div>


  </div>
</nav>

