@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt-sans/PTSans-Regular.woff2') format('woff2'),
         url('../fonts/pt-sans/PTSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Average Sans';
    src: url('../fonts/average-sans/AverageSans-Regular.woff2') format('woff2'),
         url('../fonts/average-sans/AverageSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  