<div class="programs">
  <div class="container">
    <div class="row mx-4">
      <p>Program Components</p>
      <h4>Specially curated to drive the implementation of digital skills </h4>
      <h6>The initiative is divided into 3 components focused on providing a gender lens approach that incorporates
        gender-sensitive designs, analyses, implementation and evaluation that addresses the barriers that persistently
        deny access across all aspects of participation in the digital economy.</h6>
    </div>
    <div class="row mx-4 my-5">
      <div class="col-lg-4 d-flex">
        <div style="width: 40px; height: 40px; position: relative"
          class="d-flex justify-content-center align-items-center">
          <div class="award"></div>
          <img src="/assets/icons/award.svg" alt="icons">
        </div>
        <div class="d-inline-flex flex-column justify-content-start align-items-start">
          <h5>Makoyan Fasaha</h5>
          <p>Enhancing the capacity of Instructors and teachers to deliver market-Relevant digital skills training
            around delivering modern teaching methods</p>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div style="width: 40px; height: 40px; position: relative"
          class="d-flex justify-content-center align-items-center">
          <div class="award"></div>
          <img src="/assets/icons/award.svg" alt="icons">
        </div>
        <div class="d-inline-flex flex-column justify-content-start align-items-start">
          <h5>Dalibar Fasaha</h5>
          <p>Integrating right based curriculum, creating a more diverse and inclusive workforce and for advancing
            innovation and progress in society.</p>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div style="width: 40px; height: 40px; position: relative"
          class="d-flex justify-content-center align-items-center">
          <div class="award"></div>
          <img src="/assets/icons/award.svg" alt="icons">
        </div>
        <div class="d-inline-flex flex-column justify-content-start align-items-start">
          <h5>Matan Fasaha</h5>
          <p>The digital economy, enables the use of digital infrastructure and competencies that can deliver
            innovation, and generate well-paying jobs for young women.</p>
        </div>
      </div>
    </div>
  </div>

</div>