<div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h2 class="hero-heading">Gina Mata, Gina Al’umma Building Women, Empowering Communities. </h2>
                  <p class="hero-description">Gina Mata, Gina Al-umma, translated as “Build up women, Build the community”, is a digital skills development program designed to identify, prepare, and connect disadvantaged girls and young women with emerging skills in the knowledge economy. The programme aims to integrate more women into the gig ecosystem and significantly improve girls' and women’s economic participation in the digital space</p>
              <div style="width: 190px; margin-top: 50px;">
            <app-apply-button></app-apply-button>
              </div>
            </div>
            <div class="col-lg-5">
            <img class="img-fluid" src="assets/illustration.svg" alt="illustration">
            </div>
          </div>
  </div>