.hero-heading {
    color: #0F3163;
    font-size: 3rem;
    font-weight: 700;
    line-height: 72px;
    word-wrap: break-word
}

.hero-description {
    margin-top: 20px;
    color: #768497;
    font-size: 21px;
    line-height: 30px;
    word-wrap: break-word
}